<script>
  import Day from "./Day.svelte";
  import LoginButton from './LoginButton.svelte'
  const months = new Array(12);
  const year = 2019;
  const today = new Date();
  const activeMonth = today.getMonth();
  let itemList;
  export let windowWidth = document.body.clientWidth;
  export let windowHeight = document.body.clientHeight;
  let eventList = [];
  $: width = windowWidth;
  $: height = windowHeight;
  $: maxInRow = width > 650 ? 7 : 4;
  $: size = width / maxInRow;
  $: maxInCol = Math.ceil(height / size);
  $: maxOnPage = maxInRow * maxInCol;
  $: options = {width, height, maxInRow, maxInCol, maxOnPage}
  let signedIn = false;
  //   window.addEventListener("resize", () => {
  //     width = window.innerWidth;
  //     height = window.innerHeight;
  //   });

  function daysInMonth(month, year) {
    return new Date(year, month + 1, 0).getDate();
  }
  function getMonthName(month) {
    const date = new Date(year, month, 1);
    const monthName = date.toLocaleString("de", { month: "long" });
    return monthName;
  }

  const dayList = [];
  for (let month = 0; month < 12; month++) {
    let days = daysInMonth(month, year);
    for (let dayNumber = 0; dayNumber < days; dayNumber++) {
      let day = { date: dayNumber + 1, monthName: getMonthName(month), month };
      dayList.push(day);
    }
  }


  $: page = 0;
  let prevDays = 0;
  for (let i = 0; i < activeMonth; i++) {
    prevDays += daysInMonth(i, year);
  }

  $: renderableDays = dayList.filter((e, i) => {
	let dim = daysInMonth(activeMonth, year);
	let extraDaysInWeek = maxInRow - (dim % maxInRow);
	let extraDays = Math.max(extraDaysInWeek, maxOnPage - dim);
    return i >= prevDays && i < prevDays + dim + extraDays;
  });


		// Client ID and API key from the Developer Console
		var CLIENT_ID = '477944407457-2b4c3g6p7jaojb7v2q2q19orctbsg4vq.apps.googleusercontent.com';
		var API_KEY = 'AIzaSyAR1fFTdfMF1_YO6i0-oTIoE-LWeINyrI4';
  
		// Array of API discovery doc URLs for APIs used by the quickstart
		var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];
  
		// Authorization scopes required by the API; multiple scopes can be
		// included, separated by spaces.
		var SCOPES = "https://www.googleapis.com/auth/calendar.readonly";
  
		/**
		 *  On load, called to load the auth2 library and API client library.
		 */
		window.handleClientLoad = ()=>{
		  gapi.load('client:auth2', initClient);
		}
  
		/**
		 *  Initializes the API client library and sets up sign-in state
		 *  listeners.
		 */
		function initClient() {
		  gapi.client.init({
			apiKey: API_KEY,
			clientId: CLIENT_ID,
			discoveryDocs: DISCOVERY_DOCS,
			scope: SCOPES
		  }).then(function () {
			// Listen for sign-in state changes.
			gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);
			// Handle the initial sign-in state.
			updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
		  }, function(error) {
			appendPre(JSON.stringify(error, null, 2));
		  });
		}
  
		/**
		 *  Called when the signed in status changes, to update the UI
		 *  appropriately. After a sign-in, the API is called.
		 */
		function updateSigninStatus(isSignedIn) {
      signedIn = isSignedIn;
      if(signedIn){
        listUpcomingEvents()
      }
		}
  
		/**
		 *  Sign in the user upon button click.
		 */
		function authFunction(event) {
		  gapi.auth2.getAuthInstance().signIn();
		}
  
		/**
		 *  Sign out the user upon button click.
		 */
		function handleSignoutClick(event) {
		  gapi.auth2.getAuthInstance().signOut();
		}
  
		/**
		 * Append a pre element to the body containing the given message
		 * as its text node. Used to display the results of the API call.
		 *
		 * @param {string} message Text to be placed in pre element.
		 */
		function appendPre(message) {
		  var pre = document.getElementById('content');
		  var textContent = document.createTextNode(message + '\n');
		  //pre.appendChild(textContent);
		  console.log(message)
		}
  
		/**
		 * Print the summary and start datetime/date of the next ten events in
		 * the authorized user's calendar. If no events are found an
		 * appropriate message is printed.
		 */
		function listUpcomingEvents() {
		  gapi.client.calendar.events.list({
			'calendarId': 'primary',
      'timeMin': (new Date()).toISOString(),
      'timeMax': (new Date()).toISOString(),
			'showDeleted': false,
			'singleEvents': true,
			'maxResults': 200,
			'orderBy': 'startTime'
		  }).then(function(response) {
			var events = response.result.items;
			appendPre('Upcoming events:');
        eventList = events;
		  });
		}
  const getEventsByDate = (day)=>{
    console.log(day);s
      for(let i =0;i<eventList.length;i++){
        const event = eventList[i];
        const when = new Date(event.start.dateTime);
        console.log(when, day);
      }
  }
</script>

<style>

  .month__title {
    position: absolute; 
  }
</style>

<svelte:window bind:innerWidth={width} bind:innerHeight={height} />
{#if !signedIn}
<LoginButton {authFunction}></LoginButton>
{/if}
<div class="item-list"> 
  {#each renderableDays as day, index}
    <Day {day} {index} {activeMonth} {options} events={getEventsByDate(day)}/>
  {/each}
</div>

