<script>
  export let day;
  export let options;
  export let activeMonth;
  export let index;
  export let events = [];
  $: dayWidth = options.width / options.maxInRow;

  $: maxInCol = Math.ceil(options.height / dayWidth);
  $: dayHeight = options.height / options.maxInCol;

  $: padding = (options.width - options.maxInRow * dayWidth) / 2;
  $: top = dayHeight * Math.floor(index / options.maxInRow);
  $: left = dayWidth * (index % options.maxInRow) + padding
  $: position = {
    top,left
  };
  $: inactive = day.month != activeMonth;

  $: style = ` transform: translate3d(${position.left}px, ${
    position.top
  }px, 0); width:${dayWidth}px; height: ${options.height / options.maxInCol}px`;

  function setActive(){
    
  }

</script>

<style>
  .item {
    position: absolute;
    height: 230px;
    width: 230px;
    display: block;
    font-size: 2em;
    background: #222222;
    box-shadow: inset 0 0px 1px 0px #717171;
    line-height: 1;
    text-align: center;
    padding: 1em;
    color: #eeeeee;
  }

  .item.inactive {
    background: #1b1b1b;
    color: #797979;
  }
</style>

<div class="item" class:inactive {style} on:click={setActive}> {day.date} </div>
