<script>
export let authFunction;
</script>

<style>
  .button{
      width: 145px;
      height: 42px;
      background: url('/icons/btn_google_light_normal_ios.svg') no-repeat left rgb(58, 58, 58);
      background-size: contain;
      position: fixed;
      top: 0%;
      right: 0%;
      z-index: 555;
      padding-left: 45px;
      line-height: 42px;
      text-align: left; 
      font-size: 16px;
      color: white;
  }
</style>

<div class="button" on:click={authFunction}>Login</div>
